body {
    max-width: 1000px;
    margin: auto;
}

h2 {
    margin: 15px 15px 10px 15px;
}

.navbar {
    padding-left: 0px;
}

.jumbotron {
    padding: 32px 16px 10px 16px;
    margin-bottom: 0; 
}

.footer img{
  margin: 10px 3px 0 3px; 
  height: 30px;
}

#send-form-button {
    margin-bottom: 16px;
}

#footerlinks {
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 0.3rem;
}